/.emacs.d/.autosave/
/.emacs.d/.backup/
/.emacs.d/auto-save-list/
*.elc
*~
.#*
/emacs.d/anything-c-adaptive-history
/emacs.d/ac-comphist.dat
/emacs.d/undohist
/emacs.d/.backup/
/emacs.d/url/cookies
/emacs.d/tramp
/emacs.d/shellenv.el
/emacs.d/.bm-repository
/emacs.d/elisp/el-get/.loaddefs.el
/emacs.d/elisp/el-get/.status.el
/emacs.d/elisp/el-get/.status.el.old