/.autosave/
/.backup/
/auto-save-list/
*.elc
*~
.#*
/anything-c-adaptive-history
/ac-comphist.dat
/undohist
/.backup/
/url/cookies
/tramp
/shellenv.el
/.bm-repository
/elisp/el-get/.loaddefs.el
/elisp/el-get/.status.el
/elisp/el-get/.status.el.old
/elisp/elpa/archives
/.mc-lists.el
