/.autosave/
/.backup/
/auto-save-list/
*.elc
*~
.#*
/anything-c-adaptive-history
/ac-comphist.dat
/undohist
/.backup/
/url/cookies
/tramp
/shellenv.el
/.bm-repository
/elisp/el-get/
/elisp/elpa/
/.mc-lists.el
/.cask/
/ensime/
/.python-environments/
/meghanada/
